.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
color: indigo;
}
.note{
    font-size: 15px;
    color: black;
}
.copy_right_footer{
    position: fixed;
    color: pink;
    bottom:0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid pink;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
body{
    background-size: cover;
    background-position: center;
}
h1{
    color: rgb(255, 0, 51);
    font-weight: bold;
}